{#
/**
 * @file
 * HDBT Admin theme implementation to display a TPR unit page.
 *
 * @see HDBT Admin page.html.twig
 */
#}
{% set classes = [
  'hdbt_admin--edit-form',
  'page-wrapper__node-edit-form',
  'page-wrapper__tpr-unit-edit-form',
] %}

<div{{ create_attribute({'class': classes} ) }}>
  {% include '@hdbt_admin/page/page.html.twig' %}
</div>
