.language-switcher-language-url {
  align-self: center;
  margin-inline-end: $spacing;
}

.language-switcher {
  position: relative;

  .language-link {
    color: $color-black;
    font-size: remify($base-font-size);
    font-weight: $font-weight-regular;
    text-decoration: none;

    @media (min-width: $breakpoint-m) {
      font-size: remify(14px);
      margin: 0 $spacing-quarter;
      padding: $spacing-quarter * .5 $spacing-quarter;
    }

    &.is-active {
      cursor: default;
      font-weight: $font-weight-bold;
    }

    &.is-disabled {
      color: $color-black-40;
      cursor: default;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.language-switcher__button {
  background-color: var(--gin-bg-input);
  border: 2px solid var(--gin-color-primary) !important;
  border-radius: var(--gin-border-m);
  box-shadow: 0 1px 2px var(--gin-color-primary-light);
  color: var(--gin-color-primary);
  font-size: remify(14px);
  font-weight: $font-weight-bold;
  line-height: 1;
  padding-block: calc(var(--gin-spacing-s) - 2px);
  padding-inline: var(--gin-spacing-m);

  @media (min-width: $breakpoint-m) {
    display: none;
  }

  .label {
    grid-area: label;
  }
}

.language-switcher__dropdown {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: flex;
  }

  &.is-active {
    @media (max-width: $breakpoint-m) {
      background: $color-white;
      border: 1px solid $color-black-20;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 20%);
      display: flex;
      line-height: 2;
      padding: $spacing-half $spacing;
      position: absolute;
      right: 0;
      top: 40px;
      width: max-content;
      z-index: 100;
    }
  }

  .language-link {
    @media (max-width: $breakpoint-m) {
      display: block;
    }
  }
}
