// Diff styles
.paragraph--type--banner {
  margin-top: $spacing-quadruple;

  .field--name-field-banner-title {
    font-size: remify(32px);
  }

  .field--name-field-banner-design {
    margin-top: $spacing-half;
  }
}
