// Styles for Columns paragraph.
.paragraph-type--columns {
  th.field-label {
    padding-block: 6px;

    .form-item__label {
      font-size: 1rem;
      letter-spacing: normal;
      padding: 0;
    }
  }

  // The field indicating the column size
  .columns_size {
    background: var(--color-black-60);
    border-radius: $spacing-quarter;
    color: var(--color-white);
    margin-left: auto;
    padding: $spacing-quarter;
  }
}

// Diff styles
.paragraph--type--columns {
  margin-top: $spacing-quadruple;
  overflow: hidden;

  .field--name-field-columns-title {
    font-size: remify(32px);
    margin-bottom: $spacing;
  }

  .field--name-field-columns-design {
    margin-top: $spacing-half;
  }

  .paragraph--type--image,
  .paragraph--type--text {
    margin-top: 0;
  }

  .field--name-field-media-image {
    line-height: 0;
    margin-bottom: $spacing-half;
  }

  .field--name-field-columns-left-column {
    float: left;
    margin-top: $spacing;
    width: 50%;
  }

  .field--name-field-columns-right-column {
    float: right;
    margin-top: $spacing;
    padding-left: 24px;
    width: 50%;
  }
}
