// Styles for Content card paragraph.
.paragraph-type--content-cards {
  .field--name-field-content-cards-content {
    table.field-multiple-table {
      > thead > tr > th {
        // Remove the unnecessary "Content" label.
        display: none !important;
      }
    }

    // Fix margins for the URL autocomplete field.
    .form-type--entity-autocomplete {
      margin-inline-end: $spacing;
      margin-inline-start: $spacing-half;
    }
  }
}

// Diff styles.
.paragraph--type--content-cards {
  margin-top: $spacing-quadruple;

  .field--name-field-content-cards-title {
    font-size: remify(32px);
  }

  .field--name-field-content-cards-design {
    margin-top: $spacing-half;
  }

  .field--name-field-content-cards-content {
    > .field__item {
      display: flex;
      flex-direction: column;
      margin-top: $spacing;

      h2 {
        font-size: remify(20px);
        margin: $spacing-half 0 0;
        order: 2;
      }
      .node__content {
        min-height: 400px;
        order: 1;
        position: relative;

        &::after {
          background-color: $color-bus;
          content: '';
          display: block;
          height: 400px;
          left: 0;
          position: absolute;
          top: 0;
          width: 600px;
          z-index: -1;
        }

        .field--name-field-media-image {
          line-height: 0;
        }
      }
    }
  }
}
