.paragraph--type--hero {
  // Diff styles
  .field--name-field-hero-title {
    font-size: remify(32px);
  }

  .field--name-field-hero-design {
    margin-top: $spacing-half;
  }
}

// Hero-block style overrides
.node-form .field--name-field-hero {
  // Hide the unnecessary "Content" label from hero thead.
  .field-hero-values > thead {
    display: none;
  }

  .paragraph-type--hero .form-wrapper .paragraphs-subform {
    @media (width >= 1024px) {
      column-gap: 40px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto;
      margin: 0;
    }

    .field--name-field-hero-design {
      @media (width >= 1024px) {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-row-start: 1;
      }
    }

    .field--name-field-hero-bg-color {
      @media (width >= 1024px) {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-row-start: 2;
      }
    }

    .field--name-field-hero-title {
      @media (width >= 1024px) {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-row-start: 3;
      }
    }

    .field--name-field-hero-desc {
      @media (width >= 1024px) {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-row-start: 4;
      }
    }

    .field--name-field-hero-image {
      margin-top: $spacing;

      @media (width >= 1024px) {
        box-sizing: border-box;
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 5;
        grid-row-start: 1;
        padding-right: 30px;
      }

      fieldset {
        background: transparent;
        border: 0;
        box-shadow: none;
        margin: 0;
        padding: 0 0 1.5rem;

        legend {
          display: none;
        }

        .fieldset__wrapper {
          margin: 0;
        }
      }

      .media-library-widget-modal .media-library-item--grid,
      .media-library-selection .media-library-item--grid {
        @media (width >= 1024px) {
          width: 250px;
        }
      }
    }

    .field--name-field-hero-link-design {
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row-end: 7;
      grid-row-start: 6;
      margin-top: $spacing;

      .paragraphs-subform {
        display: block;
      }
    }

    .field--name-field-hero-link {
      grid-column-end: 3;
      grid-column-start: 1;
      grid-row-end: 8;
      grid-row-start: 7;

      .layer-wrapper {
        border: 0 none;
        box-shadow: none;
        padding: 0;

        @media (width >= 1024px) {
          margin: 0 0 0 -0.5rem;
        }
      }

      .layer-wrapper tbody {
        @media (width >= 1024px) {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .layer-wrapper tr {
        max-width: 520px;

        @media (width >= 1024px) {
          flex: 1 1 32%;
          margin: 0 0.5rem 1rem;
        }
      }

      .paragraphs-subform {
        display: block;
      }
    }
  }
}
