// Diff styles
.paragraph--type--liftup-with-image {
  margin-top: $spacing-quadruple;

  .field--name-field-liftup-with-image-title {
    font-size: remify(32px);
  }

  .field--name-field-media-image {
    display: flex;
    margin-bottom: $spacing-half;
    margin-top: $spacing-half;

    img {
      width: 596px;
    }
  }

  .field--name-field-liftup-with-image-design {
    margin-top: $spacing-half;
  }
}
