.view-header {
  overflow: hidden;

  .view-results {
    font-size: remify(13px);
    padding: $spacing-quarter;
    text-align: right;
  }
}

.view-content {
  [data-drupal-selector*=-bulk-form] .form-actions {
    align-self: baseline;
  }
}

// Main news feed ordering -view highlight.
#views-form-ordered-news-list-ordered-news {
  table tbody tr {
    &:nth-child(-n+4) {
      background: rgba(46,160,67,0.1);
    }
    &:nth-child(4) {
      border-bottom: 1px solid $color-black;
    }
  }
}
