.select2-icon + .select2-container,
.select2-icon + .select2-container .select2-selection {
  min-height: 50px;
}

.select2-icon + .select2-container .select2-selection__placeholder,
.select2-icon + .select2-container .select2-selection__arrow,
.select2-icon + .select2-container .select2-selection__clear {
  padding: 7px;
}

.select2-icon + .select2-container .select2-selection--single .select2-selection__arrow {
  height: 35px;
  right: 5px;
  top: 0;
}
