.color-palette-selection {
  &.select2-container {
    height: 50px;
  }
  &.select2-container .select2-selection {
    min-height: 50px;
  }

  .select2-selection .select2-selection__rendered {
    flex-flow: row;
    padding: 6px 8px;

    .color-selection-wrapper {
      padding-right: $spacing-double;
    }
  }

  .select2-selection__placeholder,
  .select2-selection__arrow,
  .select2-selection__clear {
    padding: 7px;
  }

  .select2-results > .select2-results__options {
    max-height: 350px;
  }
  .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
  }

  .select2-selection--single .select2-selection__arrow {
    height: 35px;
    right: 5px;
    top: 0;
  }

  .color-selection-wrapper {
    display: flex;
    width: calc(100% - 14px);

    .color-selection--primary {
      background-color: var(--hdbt-color-palette--primary);
      height: 100%;
      width: 50%;
    }
    .color-selection--secondary {
      background-color: var(--hdbt-color-palette--secondary);
      height: 100%;
      width: 25%;
    }
    .color-selection--accent  {
      background-color: var(--hdbt-color-palette--accent);
      height: 100%;
      width: 25%;
    }
  }

  .ts-dropdown .color-selection-wrapper {
    padding: calc(0.75rem - 1px) calc(1rem - 1px);
    width: calc(100% - 29px); // The full width without artificial scrollbar.
  }

  .colors {
    border: 1px solid gray;
    display: flex;
    width: 50%;
  }
  .selection {
    padding-right: $spacing;
    width: 50%;
  }
}

.color-palette-selection__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
