.image-previewer__image-wrapper {
  background: $color-white;
  border: 5px solid $color-black-60;
  border-radius: 5px;
  max-width: 80vw;
  padding: $spacing;
  position: absolute;
  z-index: 99999;

  @media (min-width: 1080px) {
    max-width: 50vw;
  }

  @media (min-width: 1600px) {
    max-width: 30vw;
  }
}

.image-previewer__image {
  max-width: 80vw;
  min-width: 80vw;
  width: 100%;

  @media (min-width: 1080px) {
    max-width: 50vw;
    min-width: 50vw;
  }

  @media (min-width: 1600px) {
    max-width: 30vw;
    min-width: 30vw;
  }
}

.image-previewer__title {
  font-size: remify(18px);
  font-weight: $font-weight-bold;
}

.image-previewer__description {
  display: block;
  font-size: remify(14px);
}
