$button-height: 4rem;
$button-width: 3.5rem;
$button-border-thickness: 2px;
$button-border-radius: 6px;
$button-border-inner-radius: 4px;
$button-wrapper-width: 500px;
$button-default-color: $color-white;
$button-active-color: var(--gin-color-primary);

.js .hdbt-admin {
  // This fixes the issue with drop button hidden ul-element causing
  // spacing under the node form.
  .select-paragraph.dropbutton .dropbutton__items {
    bottom: 0;
    max-height: 30vh;
    overflow: auto;
    position: absolute;
  }

  // Bottom needs to be set to auto so that it doesn't mess up
  // the javascript calculations when the drop button is open.
  .open .select-paragraph.dropbutton .dropbutton__items {
    bottom: auto;
  }

  .field--widget-paragraphs .paragraphs-dropbutton-wrapper {
    // Remove obsolete spaces from drop button wrappers.
    .dropbutton-multiple {
      margin: 0;
      padding: 0;
    }

    // Remove obsolete spaces from drop button widget.
    .dropbutton-widget {
      margin: 0 !important;
    }
  }

  // Allow all items to have height when the drop button is not open to
  // calculate the height of the paragraph selection list.
  .dropbutton-wrapper:not(.open) .dropbutton__item {
    height: auto;
  }

  // Using opacity instead of display none to allow calculating
  // the height of the hidden items. Visibility hidden will flash
  // the items for a moment.
  .dropbutton-wrapper:not(.open) .dropbutton__item.secondary-action .select-paragraph__wrapper {
    opacity: 0;
  }
}

.hdbt-admin .select-paragraph,
.js .hdbt-admin .select-paragraph,
.js.no-touchevents .hdbt-admin .select-paragraph {
  // Override Gin styles for the drop button (paragraph selection).
  &.dropbutton {
    background-color: $button-default-color;
    border: $button-border-thickness solid $button-active-color;
    border-radius: $button-border-radius;
    height: $button-height;
    min-height: $button-height;
    width: calc($button-wrapper-width - $button-border-thickness * 2);

    // Override Gin styles for the drop button items (the list of paragraphs).
    .dropbutton__items {
      border: $button-border-thickness solid $button-active-color;
      box-shadow: none;
      margin-inline-start: -$button-border-thickness;
      max-height: 40vh;
      min-width: calc($button-wrapper-width - $button-border-thickness * 2);
      padding: 0;
    }

    // Override Gin styles for the single drop button item.
    .dropbutton__item {
      border: 0;
      box-shadow: none;
      margin: 0 !important;
      max-width: 100%;
    }
  }

  // Override Gin styles for the paragraph list visibility toggle button.
  .dropbutton__toggle {
    border-left: 0 !important;
    min-height: $button-height;
    min-width: $button-width;
    z-index: 5;

    &:hover,
    &:focus {
      background-color: $button-active-color;
      border-radius: 0;
      box-shadow: none;
    }

    &::before {
      mask-size: 18px 18px;
    }
  }

  // Paragraph type thumbnail.
  .select-paragraph__thumbnail {
    background-color: $button-default-color;
    border-block-end: 0;
    border-block-start: 0;
    border-inline-end: $button-border-thickness solid $button-active-color;
    border-inline-start: 0;
    border-radius: $button-border-inner-radius 0 0 $button-border-inner-radius;
    height: $button-height;
    object-fit: cover;
    transition: transform .2s ease-in-out;
    width: 100px;
  }

  // Paragraph type selection wrapper for thumbnail and input tag.
  .select-paragraph__wrapper {
    align-items: center;
    background-color: $button-default-color;
    border: 0 !important;
    border-radius: $button-border-inner-radius 0 0 $button-border-inner-radius;
    border-right: $button-border-thickness solid $button-active-color !important;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;

    &:hover {
      background-color: $button-active-color;
      box-shadow: none;

      input.button {
        color: $button-default-color;
      }
    }

    // The input field styles must be as specific as this,
    // otherwise the Gin default styles will be used.
    .button.field-add-more-submit {
      border: none !important;
      border-radius: 0;
      box-shadow: none;
      display: block;
      font-size: remify(14px);
      margin: 0;
      min-height: calc(#{$button-height} - (#{$button-border-thickness} * 2));
      padding: 0 0 0 $spacing;
      text-align: left;
      width: 100%;

      &:hover {
        background-color: $button-active-color;
      }
    }
  }

  // The paragraph selector button that is always visible.
  .dropbutton-action:not(.secondary-action) > .select-paragraph__wrapper {
    width: calc(100% - $button-width);
  }
}

// Handle styles for the drop button items (the list of paragraphs) when
// the paragraph selection is open on either up or down.
.hdbt-admin .open {
  &.paragraphs-open--up {
    .dropbutton__items {
      border-radius: $button-border-radius $button-border-radius 0 0;
      margin-top: 3px; // The margin-top is necessary to avoid a double border.
    }

    .select-paragraph.dropbutton {
      border-radius: 0 0 $button-border-radius $button-border-radius;
    }
  }

  &.paragraphs-open--down {
    .dropbutton__items {
      border-radius: 0 0 $button-border-radius $button-border-radius;
    }

    .select-paragraph.dropbutton {
      border-radius: $button-border-radius $button-border-radius 0 0;
    }
  }
}
