.character-counter {
  line-height: calc(17rem / 16);
  margin-block: calc(6rem / 16);
}

.character-counter__count {
  color: $color-black-70;
  font-size: remify(14px);
}

.form-item__description + .character-counter {
  margin-top: -$spacing-quarter;
}
