.hdbt-admin .form-item__description {
  color: $color-black-70;
  font-size: remify(14px);
  max-width: none;
}

// Set more sensible margins for form items
// with item lists in their descriptions.
.hdbt-admin .form-item .item-list li {
  margin: 0 0 2px 16px;
}

.hdbt-admin .field-actions {
  margin-top: $spacing-and-half;
}

.form-notification {
  align-items: center;
  background: $color-alert-light;
  border-left: 10px solid $color-alert-dark;
  display: flex;
  margin-top: $spacing-half;
  padding: $spacing-half;
}

.form-notification--warning {
  background: $color-alert-light;

  .form-notification__icon {
    color: $color-alert-dark;
  }
}

.form-notification__warning-text {
  color: $color-black;
  margin-block: 0;
  margin-inline-start: $spacing-half;
}