.block-page-title-block .page-title {
  font-size: remify(22px);
  font-weight: 500;

  @media (min-width: 1280px) {
    font-size: remify(28px);

    .region-sticky--is-sticky & {
      font-size: remify(25px);
    }
  }
}
