//
// @file
// Styles for Columns paragraph.
//

.paragraph-type--columns {

  th.field-label {
    align-items: center;
    display: flex;
  }

  // The field indicating the column size
  .columns_size {
    background: var(--color-black-60);
    border-radius: $spacing-quarter;
    color: var(--color-white);
    margin-left: auto;
    padding: $spacing-quarter;
  }

  .paragraphs-tabs-wrapper table.field-multiple-table {
    margin: 0;

    thead tr {
      border: 0;

      th {
        padding: 0;
      }
    }

    .form-actions {
      margin: 0.5rem 0;
    }

    .dropbutton-wrapper {
      padding: 0;
    }
  }
}
