//
// @file
// Styles for Columns paragraph.
//

.paragraph-type--columns {

  th.field-label {
    align-items: center;
    display: flex;
  }

  // The field indicating the column size
  .columns_size {
    background: var(--color-black-60);
    border-radius: $spacing-quarter;
    color: var(--color-white);
    margin-left: auto;
    padding: $spacing-quarter;
  }

  .paragraphs-tabs-wrapper table.field-multiple-table {
    margin: 0;

    thead tr {
      border: 0;

      th {
        padding: 0;
      }
    }

    .form-actions {
      margin: 0.5rem 0;
    }

    .dropbutton-wrapper {
      padding: 0;
    }
  }
}

// Diff styles
.paragraph--type--columns {
  margin-top: $spacing-quadruple;
  overflow: hidden;

  .field--name-field-columns-title {
    @include font-size(32px, 48px);
    margin-bottom: $spacing;
  }

  .field--name-field-columns-design {
    margin-top: $spacing-half;
  }

  .paragraph--type--image,
  .paragraph--type--text {
    margin-top: 0;
  }

  .field--name-field-media-image {
    line-height: 0;
    margin-bottom: $spacing-half;
  }

  .field--name-field-columns-left-column {
    float: left;
    margin-top: $spacing;
    width: 50%;
  }

  .field--name-field-columns-right-column {
    float: right;
    margin-top: $spacing;
    padding-left: 24px;
    width: 50%;
  }
}
