//
// @file
// Styles for all paragraphs.
//

// Paragraphs edit from style adjustments.
.paragraphs-add-wrapper {
  .dropbutton-wrapper.dropbutton-multiple .button {
    min-height: 3rem;
  }
}

// remove white background and paddings from first level of paragraph elements.
.paragraphs-tabs-wrapper {
  > .form-item > .layer-wrapper {
    background-color: transparent;
    border: 0 none;
    box-shadow: 0 0 0 transparent;
    padding: 0;
  }

  .paragraph-type-label {
    font-size: 18px !important;
  }

  table.field-multiple-table {
    thead {
      box-shadow: 0 0 0 transparent;

      th {
        background: transparent;
        padding-bottom: 0;
        padding-left: 0;
      }
    }

    .draggable {
      background-color: #fff;
      margin-top: 0.5rem;

      // Hide the paragraph bullet when you are not able to organize paragraphs.
      td.paragraph-bullet::after {
        display: none;
      }
    }
  }
}

// Table drag handle resizing
.js .field--widget-paragraphs .draggable .tabledrag-handle {
  min-width: 20px;

  // Hide additional table drags if there is no patch for the core.
  + .tabledrag-cell-content__item {
    display: none;
  }
}

.js .paragraph-top .paragraph-type,
.js .paragraph-top .paragraph-summary {
  align-self: center;
}

.paragraphs-tabs-wrapper .field-multiple-table .draggable {
  td {
    padding: 0;
  }

  .tabledrag-handle::after {
    margin: 0;
    padding: 0;
  }
}

// Give more space to the form on smaller resolutions
.toolbar-tray-open:not(.toolbar-vertical) .page-wrapper .layout-container,
body:not(.toolbar-tray-open) .page-wrapper .layout-container {
  @media (min-width: 976px) {
    margin-left: m#{i}n(5vw, 24px);
    margin-right: m#{i}n(5vw, 24px);
  }
}


// Hide Paragraph badge.
.paragraphs-badge {
  display: none;
}

// Override margin nullification from the admin theme.
.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-multiple {
  margin-right: .75rem;

  &.dropbutton-wrapper {
    padding: 0;
  }
}
