// Diff styles
.paragraph--type--gallery {
  margin-top: $spacing-quadruple;

  .field--name-field-gallery-slides {
    > .field__item {
      margin-top: $spacing;
    }
  }

  .paragraph--type--gallery-slide {
    .field--name-field-media-image {
      display: flex;
      margin-bottom: $spacing-half;

      img {
        width: 620px;
      }
    }
  }

  .field--name-field-media-image {
    ins,
    del {
      display: inline-block;
      line-height: 0;
      padding: 10px;
    }
  }
}
