.paragraph-type--image {
  .paragraphs-subform {
    .field--name-field-image {
      @media (min-width: 768px) {
        float: left;
        width: 40%;
      }

      @media (min-width: 1024px) {
        width: 50%;
      }

      @media (min-width: 1160px) {
        width: 35%;
      }

      fieldset {
        background: transparent;
        border: 0;
        box-shadow: none;
        margin: 0;
        padding: 0 0 1.5rem;

        legend {
          display: none;
        }

        .fieldset__wrapper {
          margin: 0;
        }
      }

      .media-library-widget-modal .media-library-item--grid,
      .media-library-selection .media-library-item--grid {
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }

    .field--name-field-image-caption,
    .field--name-field-original-aspect-ratio {
      @media (min-width: 768px) {
        float: right;
        width: 55%;
      }

      @media (min-width: 1024px) {
        width: 45%;
      }

      @media (min-width: 1160px) {
        width: 60%;
      }
    }
  }
}
