.hdbt-admin .region-breadcrumb {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;

  &:after {
    background: linear-gradient(90deg, transparent, #fff);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    width: 30px;
  }

  .gin-breadcrumb__link {
    min-width: 1px;
  }

  .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link {
    padding-left: $spacing-half;

    &::before {
      display: none;
    }
  }
}

