.hdbt-admin .region-breadcrumb {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;

  .gin-breadcrumb__item:first-of-type .gin-breadcrumb__link {
    padding-left: $spacing-half;

    &::before {
      display: none;
    }
  }
}
