.dashboard__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block-end: var(--gin-spacing-l);
  width: 100%;
}

.translation-state--outdated {
  color: var(--color-alert-dark);

  &::before {
    background-color: var(--color-alert-dark);
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin-inline-end: 4px;
    mask-image: url("data:image/svg+xml;utf8,<svg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g fill='none' fill-rule='evenodd'><rect width='24' height='24'/><path fill='currentColor' d='M12,3 C16.9705627,3 21,7.02943725 21,12 C21,16.9705627 16.9705627,21 12,21 C7.02943725,21 3,16.9705627 3,12 C3,7.02943725 7.02943725,3 12,3 Z M13,16 L13,18 L11,18 L11,16 L13,16 Z M13,6 L13,14 L11,14 L11,6 L13,6 Z'/></g></svg>");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    vertical-align: bottom;
    white-space: nowrap;
    width: 24px;
  }
}
