.hdbt-admin {
  // Adjust the sticky header styles.
  .hdbt_admin--edit-form .region-sticky {
    background-color: $body-bg-color;
    padding-block-start: $spacing-quarter;

    @media (width >= 1024px) {
      padding-block-start: $spacing;
    }

    // Reset the unnecessary preview and submit button margins.
    .button {
      margin-block: unset;
    }
  }
}
