// Media library name and alt text styles.
.media-library-item__name {
  font-size: 0.875rem;
}

.media-library-item__alt {
  font-size: 0.875rem;
  font-weight: 500;

  span {
    font-weight: 400;
  }
}

// Do not show the media edit link if the media is shown in media library view.
// Media library has a separate element to show the edit link.
.views-row.media-library-item .media-library-item__preview-wrapper .media-library-item__edit {
  display: none;
}
