.is-hidden {
  display: none;
}

// Override Drupal's visually-hidden class with a bit more comprehensive class.
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Override --ck-spacing-small variable to fix
// CKEditor Toolbar "zoom" problem on Chrome.
.hdbt-admin .ck {
  --ck-spacing-small: 0.25em;
}
