// Apply styles for the branding.
.block-system-branding-block {
  align-items: center;
  display: flex;
}

.site-logo {
  margin-right: 0.5rem;
  width: 5rem;

  // Fix cut logo.
  img {
    padding-top: 1px;
  }
}

.site-name {
  padding: 0 0 0.5rem;

  a {
    --colorGinPrimary: #000000;
  }
}

// Paragraphs edit from style adjustments
.paragraphs-add-wrapper {
  .dropbutton-wrapper.dropbutton-multiple .button {
    min-height: 3rem;
  }
}

// Override margin nullification from the gin theme.
.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-multiple {
  margin-right: .75rem;
}

// Hide "Show row weights" option when editing paragraphs.
.field--widget-paragraphs .tabledrag-toggle-weight-wrapper {
  display: none;
}
