//
// @file
// Styles for Site settings page. See: /admin/tools/site-settings.
//

:root {
  // Default color variables.
  --input-radio-theme-color: var(--color-black-70);
  --hdbt-admin-theme-color: var(--color-black);
  --hdbt-admin-text-color: var(--color-white);

  // Default text colors based on background colors.
  --hdbt-admin-text-color--coat-of-arms: var(--color-white);
  --hdbt-admin-text-color--brick: var(--color-white);
  --hdbt-admin-text-color--bus: var(--color-white);
  --hdbt-admin-text-color--metro: var(--color-white);
  --hdbt-admin-text-color--tram: var(--color-white);
  --hdbt-admin-text-color--gold: var(--color-black);
  --hdbt-admin-text-color--silver: var(--color-black);
  --hdbt-admin-text-color--copper: var(--color-black);
  --hdbt-admin-text-color--engel: var(--color-black);
  --hdbt-admin-text-color--fog: var(--color-black);
  --hdbt-admin-text-color--summer: var(--color-black);
  --hdbt-admin-text-color--suomenlinna: var(--color-black);
}

.hdbt-admin-tools-site-settings {
  .form-radios {
    &.form-boolean-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: $spacing-half -#{$spacing-half};
    }

    .form-type--boolean {
      align-items: center;
      border: 2px solid var(--input-radio-theme-color);
      border-radius: $spacing-quarter;
      display: flex;
      margin: $spacing-half;
      min-width: 200px;
      padding: 0 $spacing-half 0 0;

      &.form-item--site-settings-koro {
        width: calc(100% - #{$spacing-double} - 4px); // 4px: Border.

        @media only screen and (min-width: $breakpoint-l) {
          width: 60%;
        }
      }

      &.form-item--site-settings-default-icon {
        width: 100%;

        @media only screen and (min-width: $breakpoint-l) {
          width: 40%;
        }
      }

      .form-boolean {
        margin-left: $spacing-half;
        margin-top: -#{$spacing-quarter / 2};
      }

      .form-item__label.option {
        margin: $spacing-quarter / 2 $spacing-half 0 $spacing-half;
        padding: 0;
      }
    }

    .theme-color {
      background-color: var(--input-radio-theme-color);
      color: var(--hdbt-admin-text-color);
      height: 40px;
      width: 40px;
    }

    .koro {
      align-items: flex-end;
      color: var(--hdbt-admin-theme-color);
      display: flex;
      height: 70px;
      width: calc(100% - 150px); // Some spacing for the label.

      .wave {
        align-items: flex-start;
      }

      svg path {
        fill: var(--hdbt-admin-theme-color);
      }
    }

    // Imitate 3:2 image style.
    .default-icon {
      align-items: center;
      background-color: var(--hdbt-admin-theme-color);
      display: flex;
      height: 150px;
      justify-content: center;
      width: 225px;

      .icon {
        color: var(--hdbt-admin-text-color);
        height: 50%;
      }
    }
  }
}

#edit-site-settings-koro {
  flex-flow: column;
}
