:root {
  // Default color variables.
  --input-radio-theme-color: var(--color-black-70);
  --hdbtAdminDefaultColor: var(--color-black);
  --hdbtAdminDefaultTextColor: var(--color-white);

  // Default text colors based on background colors.
  --default-icon__text--coat-of-arms: var(--color-white);
  --default-icon__text--brick: var(--color-white);
  --default-icon__text--bus: var(--color-white);
  --default-icon__text--metro: var(--color-white);
  --default-icon__text--tram: var(--color-white);
  --default-icon__text--gold: var(--color-black);
  --default-icon__text--silver: var(--color-black);
  --default-icon__text--copper: var(--color-black);
  --default-icon__text--engel: var(--color-black);
  --default-icon__text--fog: var(--color-black);
  --default-icon__text--summer: var(--color-black);
  --default-icon__text--suomenlinna: var(--color-black);
}

.hdbt-admin-tools-site-settings {

  .form-radios {
    &.form-boolean-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: $spacing-half -#{$spacing-half};
    }

    .form-type--boolean {
      align-items: center;
      border: 2px solid var(--input-radio-theme-color);
      border-radius: $spacing-quarter;
      display: flex;
      margin: $spacing-half;
      min-width: 200px;
      padding: 0 $spacing-half 0 0;

      &.form-item--site-settings-koro {
        width: calc(100% - #{$spacing-double} - 4px); // 4px: Border.
      }

      &.form-item--site-settings-koro,
      &.form-item--site-settings-default-icon {
        width: 100%;

        @media only screen and (min-width: $breakpoint-l) {
          width: 40%;
        }
      }

      .form-boolean {
        margin-left: $spacing-half;
        margin-top: -#{$spacing-quarter / 2};
      }

      .form-item__label.option {
        margin: $spacing-quarter / 2 $spacing-half 0 $spacing-half;
        padding: 0;
      }
    }

    .theme-color {
      background-color: var(--input-radio-theme-color);
      color: var(--hdbtAdminDefaultTextColor);
      height: 40px;
      width: 40px;
    }

    .koro {
      align-items: flex-end;
      color: var(--hdbtAdminDefaultColor);
      display: flex;
      height: 70px;
      width: calc(100% - 150px); // Some spacing for the label.

      .wave {
        align-items: flex-start;
      }

      svg path {
        fill: var(--hdbtAdminDefaultColor);
      }
    }

    .default-icon {
      align-items: center;
      background-color: var(--hdbtAdminDefaultColor);
      display: flex;
      height: 100px;
      justify-content: center;
      width: 230px;

      .icon {
        color: var(--hdbtAdminDefaultTextColor);
        height: 60%;
      }
    }
  }
}

#edit-site-settings-koro {
  flex-flow: column;
}
