// Font variables from HDS.
@import 'hds-design-tokens/lib/typography/font-size.scss';
@import 'hds-design-tokens/lib/typography/font.scss';
@import 'hds-design-tokens/lib/typography/line-height.scss';

$base-font-family: HelsinkiGrotesk, Arial, sans-serif;
$base-font-size: 16px; // We have to assume that this is the default size in browsers.
$base-line-height: 1.5;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 800;

$lineheight-xxl: 2;
