//
// @file
// Styles for Select2.
//

// Select2 to look and feel more Gin-like.
.select2-container {
  min-height: 50px;

  .select2-selection {
    border: 1px solid var(--colorGinFormElementBorder);
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba($hdbt-color-black, .25);
    color: var(--colorGinText);
    font-size: remify($base-font-size);
    min-height: 60px;

    &:hover {
      border-color: var(--colorGinText);
      box-shadow: inset 0 0 0 1px var(--colorGinText);
    }

    .select2-selection__clear {
      padding: 7px 10px 7px 7px;
    }

    .select2-selection__placeholder {
      font-size: remify($base-font-size);
      padding: 5px;
    }

    .select2-selection__arrow {
      height: 45px;
      padding: 7px 7px 7px 10px;
      right: 5px;
      top: 0;
    }

    .select2-selection__rendered {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      font-size: remify($base-font-size);
      padding: 12px 16px;
    }

    .select2-search__field {
      color: var(--colorGinText);
      font-size: remify($base-font-size);
      margin: 0;
      min-width: 100px;
      padding: calc(0.75rem - 1px) calc(1rem - 1px);
    }

    // Like button--small.
    .select2-selection__choice {
      align-items: center;
      background: var(--colorGinPrimary);
      display: flex;
      margin: 0.25rem;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: var(--colorGinPrimaryHover);
      }

      &:active, &:focus {
        background-color: var(--colorGinPrimaryActive);
      }

      &, &:hover, &:active, &:focus {
        color: var(--colorGinButtonText);
      }
    }

    .select2-selection__choice__remove {
      color: var(--colorGinButtonText);
      font-size: remify($base-font-size);
      margin-right: .5rem;
      transition: color 200ms;

      &:hover, &:active, &:focus {
        color: var(--color-metro);
      }
    }
  }

  .select2-results__option {
    color: var(--colorGinText);
    font-size: remify($base-font-size);
    padding: calc(0.75rem - 1px) calc(1rem - 1px);
  }
}
