// Select2 to look and feel more Gin-like.
.select2.select2-container {
  .select2-selection {
    border: 1px solid var(--gin-border-color-form-element);
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba($hdbt-color-black, .25);
    color: var(--gin-color-text);
    font-size: remify($base-font-size);
    min-height: 60px;

    &:hover {
      border-color: var(--gin-color-text);
      box-shadow: inset 0 0 0 1px var(--gin-color-text);
    }

    .select2-selection__clear {
      padding: 7px 10px 7px 7px;
    }

    .select2-selection__placeholder {
      font-size: remify($base-font-size);
      padding: 0;
    }

    .select2-selection__arrow {
      height: 45px;
      padding: 7px 7px 7px 10px;
      right: 5px;
      top: 0;
    }

    .select2-selection__rendered {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      font-size: remify($base-font-size);
      margin: 0;
      padding: 0;
    }
    // Like button--small.
    .select2-selection__choice {
      align-items: center;
      background: var(--gin-color-primary);
      display: flex;
      margin: 0.25rem;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: var(--gin-color-primary-hover);
      }

      &:active, &:focus {
        background-color: var(--gin-color-primary-active);
      }

      &, &:hover, &:active, &:focus {
        color: var(--gin-color-button-text);
      }
    }

    .select2-selection__choice__remove {
      border: 0 none;
      border-radius: 0 0 3px 0;
      color: var(--gin-color-button-text);
      font-size: remify($base-font-size);
      transition: color 200ms;

      &:hover, &:active, &:focus {
        color: var(--color-metro);
      }
    }
  }

  .select2-selection.select2-selection--single .select2-selection__rendered {
     padding-left: calc(1rem - 1px);
   }

  .select2-selection.select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    padding: calc(1rem - 1px);
  }

  &.select2-container--default .select2-selection--multiple {
    padding: $spacing-half;
  }

  .required + & {
    .select2-selection.select2-selection--single .select2-selection__rendered {
      padding: calc(1rem - 1px) calc(1rem - 1px) calc(1rem - 1px) calc(2rem - 1px) ;
    }

    .select2-selection.select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
      margin: -15px;
    }
  }

  .select2-search.select2-search--inline {
    align-items: center;
    color: var(--gin-color-text);
    display: flex;
    font-size: remify($base-font-size);
    height: auto;
    margin: 0;
    min-width: 100px;
    padding: $spacing;
    width: calc(100% - 32px) !important // Select2 uses JS to set the width for the search field.
  }

  .select2-search.select2-search--inline:focus-within {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 2px 1px $color-coat-of-arms;
  }

  .select2-search.select2-search--inline textarea:focus {
    box-shadow: none;
  }
}

// Select2 results.
.select2-container .select2-results__options {
  .select2-results__option {
    color: var(--gin-color-text);
    font-size: remify($base-font-size);
    padding: calc(0.75rem - 1px) calc(1rem - 1px);
  }

  .select2-results__option--highlighted[aria-selected] {
    color: $color-white;
  }
}
